{% extends "vehicles/base.html" %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' pk=bike.pk %}
    {% breadcrumb 'edit' 'bikes:update' pk=bike.pk %}
    {% breadcrumb 'manage pictures' 'bikes:gallery' pk=bike.pk %}
{% endblock %}

{% block page_title %}Bike Pictures{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <h1>Current pictures for bike {{ bike.nickname }}</h1>
        {% for photo in gallery.public %}
            <a href="{{ photo.image.url }}">
                <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}">
            </a>
        {% endfor %}
        <p>
            <a href="{% url 'bikes:picture-upload' pk=bike.pk %}" class="btn btn-outline-primary">Add more pictures</a>
            <a href="{% url 'bikes:pictures-delete' pk=bike.pk %}" class="btn btn-outline-danger">Delete pictures</a>
        </p>
    </div>
{% endblock %}
