{% extends 'vehicles/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}Bike details{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' pk=bike.pk %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <p>nickname: <strong>{{ bike.nickname }}</strong></p>
            <p>Type of bike: <strong>{{ bike.bike_type }}</strong></p>
            <p>Gears: <strong>{{ bike.gear }}</strong></p>
            <p>Brakes: <strong>{{ bike.brake }}</strong></p>
            <p>Brand: <strong>{{ bike.brand }}</strong></p>
            <p>Model: <strong>{{ bike.model }}</strong></p>
            <p>Color: <strong>{{ bike.color }}</strong></p>
            <p>Saddle: <strong>{{ bike.saddle }}</strong></p>
            <p>Basket: <em><i class="fa {% if bike.has_basket %}fa-check-square{% else %}fa-square-o{% endif %}"></i></em></p>
            <p>Cargo rack: <em><i class="fa {% if bike.has_cargo_rack %}fa-check-square{% else %}fa-square-o{% endif %}"></i></em></p>
            <p>Lights: <em><i class="fa {% if bike.has_lights %}fa-check-square{% else %}fa-square-o{% endif %}"></i></em></p>
            <p>Bags: <em><i class="fa {% if bike.has_bags %}fa-check-square{% else %}fa-square-o{% endif %}"></i></em></p>
            <p>SaveMyBike sticker: <em><i class="fa {% if bike.has_smb_sticker %}fa-check-square{% else %}fa-square-o{% endif %}"></i></em></p>
            <p>Other details: <strong>{{ bike.other_details }}</strong></p>
            <h4>Possession state</h4>
            <p>{{ bike.get_current_possession_state.possession_state }}</p>
            <h4>Tags</h4>
            <ul>
                {% for tag in bike.tags.all %}
                    <li>{{ tag.epc }}</li>
                {% empty %}
                    <li>This bike does not have any tags</li>
                {% endfor %}
            </ul>
            <div class="col-lg-8 gallery-wrapper" data-pswp-uid="1">
                <div class="row">
                    {% for photo in bike.picture_gallery.sample %}
                        <div class="col-md-4 col-sm-6">
                            <div class="gallery-item">
                                <a href="{{ photo.get_display_url }}" data-size="1280x853">
                                    <img src="{{ photo.get_thumbnail_url }}" class="img-thumbnail" alt="{{ photo.title }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-info bg_svg_green text-white">
                <div class="card-body p-40">
                    <div class="d-flex justify-content-center m-b-30">
                        <i class="fa fa-bicycle p-b-30 f-s-150"></i>
                    </div>
                    <h5 class="text-white m-b-20">Bike registration code</h5>
                    <p>{{ bike.pk }}</p>
                    <p>Use this code to register new tags for this bike:</p>
                    <p><a href="" class="btn btn-secondary">print registry information</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" href="{% url 'bikes:update' pk=bike.pk %}"><i class="fa fa-pencil-square-o"></i> Edit bike details</a>
            <a class="btn btn-outline-primary" href="{% url 'bikes:report-status' pk=bike.pk %}"><i class="fa fa-file-text-o"></i> Update bike status</a>
            <a class="btn btn-outline-primary" href="{% url 'bikes:picture-upload' pk=bike.pk %}"><i class="fa fa-picture-o"></i> Add pictures</a>
            <a class="btn btn-outline-danger" href="{% url 'bikes:delete' pk=bike.pk %}"><i class="fa fa-trash-o"></i> Delete bike</a>
        </div>
    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__single-tap pswp__share-modal--hidden">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
