{% extends 'base/base.html' %}

{% block thickness %}
    <section class="container padding-top-1x padding-bottom-2x"> </section>
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 header text-center">
    <p>This is the bike create page </p>
    <form action='{% url "bikes:create" %}' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-info" type="submit" value="Create">
    </form>
    
</div>


<section class="container padding-top-1x padding-bottom-2x"> </section>
{% endblock %}
