{% extends 'base/base.html' %}

{% block thickness %}
    <section class="container padding-top-1x padding-bottom-2x"> </section>
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 header text-center">
    <p>This is the bike update page for <b>{{ bike.pk }}</b></p>
    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-info" type="submit" value="Update">
    </form>
</div>
    
    <section class="container padding-top-1x padding-bottom-2x"> </section>
{% endblock %}
