{% extends 'vehicles/base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}Your bikes{% endblock %}

{% block main %}
    <div class="col-lg-8">
        Available bikes:
        <ul>
            {% for bike in bikes %}
                <li><a href="{{ bike.get_absolute_url }}">{{ bike.nickname }}</a></li>
            {% empty %}
                <li>You don't have any bikes yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4">
        <p><a class="btn btn-info" href="{%  url 'bikes:create' %}">Register a new bike</a></p>
    </div>
{% endblock %}
