{% extends 'vehicles/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' pk=bike.pk %}
    {% breadcrumb 'pictures' 'bikes:gallery' pk=bike.pk %}
    {% breadcrumb 'add picture' 'bikes:picture-upload' pk=bike.pk %}
{% endblock %}

{% block page_title %}Add picture{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
        </form>
    </div>
{% endblock %}
