{% extends "vehicles/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' pk=bike.pk %}
    {% breadcrumb 'pictures' 'bikes:gallery' pk=bike.pk %}
    {% breadcrumb 'delete' 'bikes:pictures-delete' pk=bike.pk %}
{% endblock %}

{%  block page_title %}Delete pictures{% endblock %}

{% block main %}
    <div class="col-lg">
        <p>{% trans "Please select the pictures that you would like to delete." %}</p>
        <form method="POST" action="{% url 'bikes:pictures-delete' pk=bike.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'bikes:gallery' pk=bike.pk %}">
            {{ form|crispy }}
            <a href="{% url 'bikes:gallery' pk=bike.pk %}" class="btn btn-secondary">{% trans "Go back" %}</a>
            <button type="submit" class="btn btn-danger">{% trans "Delete selected pictures" %}</button>
        </form>
    </div>
{% endblock %}
