{% extends "base/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("profile") 'profile:update' %}
    {% breadcrumb _("avatar") 'avatar_change' %}
    {% breadcrumb _("new") 'avatar_add' %}
{% endblock %}

{%  block page_title %}{% trans "Add avatar" %}{% endblock %}

{% block main %}
    <div class="col-lg-4">
        <p>{% trans "Current avatar:" %}</p>
        {% avatar user 150 class="rounded-circle" %}
    </div>
    <div class="col-lg-8">
        {% if not avatars %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% endif %}
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'avatar_change' %}">
            {{ upload_avatar_form|crispy }}
            <button type="submit" class="btn btn-outline-primary">{% trans "Upload" %}</button>
        </form>
    </div>
{% endblock %}