{% extends 'base/base.html' %}

{% load i18n %}
{% load avatar_tags %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("profile") 'profile:update' %}
    {% breadcrumb _("avatar") 'avatar_change' %}
{% endblock %}

{%  block page_title %}{% trans "Change avatar" %}{% endblock %}

{% block main %}
    <div class="col-lg-4">
        <p>Current avatar:</p>
        {% avatar user 150 class="rounded-circle" %}
    </div>
    <div class="col-lg-8">
        {% if avatars %}
            <form method="POST" action="{% url 'avatar_change' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'profile:update' %}">
                {{ primary_avatar_form|crispy }}
                <button type="submit" class="btn btn-outline-primary">{% trans "Change" %}</button>
                <a href="{% url 'avatar_add' %}" class="btn btn-outline-secondary">{% trans "Upload new avatar" %}</a>
                <a href="{% url 'avatar_delete' %}" class="btn btn-outline-secondary">{% trans "Delete avatars" %}</a>
            </form>
        {% else %}
            <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
            <a href="{% url 'avatar_add' %}" class="btn btn-outline-secondary">{% trans "Upload new avatar" %}</a>
            <a href="{% url 'avatar_delete' %}" class="btn btn-outline-secondary">{% trans "Delete avatars" %}</a>
        {% endif %}
    </div>
{% endblock %}
