{% extends "base/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("profile") 'profile:update' %}
    {% breadcrumb _("avatar") 'avatar_change' %}
    {% breadcrumb _("delete") 'avatar_delete' %}
{% endblock %}

{%  block page_title %}{% trans "Delete avatars" %}{% endblock %}

{% block main %}
    <div class="col-lg">
        <p>{% trans "Please select the avatars that you would like to delete." %}</p>
        {% if not avatars %}
            {% url 'avatar_add' as avatar_add_url %}
            <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_add_url }}">upload one</a> now.{% endblocktrans %}</p>
        {% endif %}
        <form method="POST" action="{% url 'avatar_delete' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'avatar_change' %}">
            {{ delete_avatar_form|crispy }}
            <button type="submit" class="btn btn-danger">{% trans "Delete selected" %}</button>
        </form>
    </div>
{% endblock %}
