{% extends 'vehicles/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' slug=bike.short_uuid %}
    {% breadcrumb _("manage pictures") 'bikes:gallery' slug=bike.short_uuid %}
    {% breadcrumb _("add picture") 'bikes:picture-upload' slug=bike.short_uuid %}
{% endblock %}

{% block page_title %}{% trans "Add picture" %}{% endblock %}

{% block main %}
    <div class="col-lg-12">
        {% include 'vehicles/bike_picture_create_inner.html' %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
