{% extends "vehicles/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' slug=bike.short_uuid %}
    {% breadcrumb _("manage pictures") 'bikes:gallery' slug=bike.short_uuid %}
    {% breadcrumb _("delete") 'bikes:pictures-delete' slug=bike.short_uuid %}
{% endblock %}

{%  block page_title %}{% trans "Delete pictures" %}{% endblock %}

{% block main %}
    <div class="col-lg">
        <p>{% trans "Please select the pictures that you would like to delete." %}</p>
        <form method="POST" action="{% url 'bikes:pictures-delete' slug=bike.short_uuid %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'bikes:gallery' slug=bike.short_uuid %}">
            {{ form|crispy }}
            <a href="{% url 'bikes:gallery' slug=bike.short_uuid %}" class="btn btn-secondary"><i class="fa fa-hand-o-left"></i> {% trans "Go back" %}</a>
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> {% trans "Delete selected pictures" %}</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
