{% extends "vehicles/base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb gallery.bike.nickname 'bikes:detail' slug=gallery.bike.short_uuid %}
    {% breadcrumb _("manage pictures") 'bikes:gallery' slug=gallery.bike.short_uuid %}
{% endblock %}

{% block page_title %}{% trans 'Bike Pictures' %}{% endblock %}

{% block main %}
    <div class="col-lg-9 col-md-8 order-md-1">
        {% if gallery.photos.count >= max_pictures %}
            <p>{% trans 'This bike already has the maximum number of pictures. Cannot add more.' %}</p>
        {% endif %}
        {% for photo in gallery.photos.all %}
            <a href="{{ photo.image.url }}">
                <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}">
            </a>
        {% empty %}
            <p>{% trans 'There are no pictures for this bike yet' %}</p>
        {% endfor %}
    </div>
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
        <nav class="list-group">
            <a
                    id="addPicture"
                    class="list-group-item list-group-item-action"
                    data-toggle="modal"
                    href="#"
                    data-action-url="{% url 'bikes:picture-upload' slug=gallery.bike.short_uuid %}"
                    data-primary-button-value="{% trans 'Upload picture' %}"
                    data-primary-button-icon="fa fa-upload"
                    data-primary-button-classes="btn btn-primary"
                    data-title="{% trans 'Upload bike picture' %}"
                    data-denial-title="{% trans 'Bike pictures limit reached' %}"
                    data-denial-content="{% trans 'Bike pictures limit reached. Cannot add more pictures. Delete some existing pictures first.' %}"
                    data-threshold="{{ max_pictures }}"
                    data-current="{{ gallery.photos.count }}"
            >
                <i class="fa fa-plus-circle"></i> {% trans 'Add picture' %}
            </a>
            <a href="{% url 'bikes:pictures-delete' slug=gallery.bike.short_uuid %}" class="list-group-item list-group-item-action list-group-item-danger">
                <i class="fa fa-trash-o"></i> {% trans 'Delete pictures' %}
            </a>
        </nav>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vehicles/js/bikegallery-detail.js' %}"></script>
{% endblock %}
