{% extends 'vehicles/base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{% trans "Delete bike" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb bike.nickname 'bikes:detail' slug=bike.short_uuid %}
    {% breadcrumb _("delete") 'bikes:delete' slug=bike.short_uuid %}
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        {% include 'vehicles/bike_confirm_delete_inner.html' %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
