{% extends "vehicles/base.html" %}

{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block extra_head %}

    {% comment %}
        Adding the openlayers css and js here since they are not being
        inherited by our custom SmbOsmWidget widget class anymore
    {% endcomment %}
    <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css">
    <link rel="stylesheet" media="screen" href="{% static 'gis/css/ol3.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.js"></script>
    <script src="{% static 'gis/js/OLMapWidget.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if bike %}
        {% breadcrumb bike.nickname 'bikes:detail' slug=bike.short_uuid %}
        {% breadcrumb _("update status") 'bikes:report-status' slug=bike.short_uuid %}
    {% else %}
        {% breadcrumb _("report lost") 'bikes:report-status' slug=bike.short_uuid %}
    {% endif %}
{% endblock %}

{% block page_title %}{% if bike %}{% trans "Update bike status" %}{% else %}{% trans "Report lost bike" %} {% endif %}{% endblock %}

{% block main %}
    <div class="col-lg-12">
        {% include 'vehicles/bikestatus_create_inner.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'base/js/smb-utils.js' %}"></script>
    <script src="{% static 'vehicles/js/bikestatus-create.js' %}"></script>
{% endblock %}
