{% extends 'registration/base.html' %}
{% load i18n %}
{% block content %}
 <!--  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form> -->
  
  <div class="" id="container">
        <div>
            <div class="pri_main_container" data-test-selector="page-annuals-pricing" data-test-language="en-us">
                <div class="pri_container">
                    <div class="pri_title container" style="text-align: unset">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <form class="login-box" method="post">
                                {% csrf_token %}
                                    <!-- <div class="row margin-bottom-1x">
                                        <div class="col-xl-4 col-md-6 col-sm-4">
                                            <a class="btn btn-sm btn-block facebook-btn" href="javascript:void(0)">
                                                <i class="socicon-facebook"></i>&nbsp;Facebook login
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-sm-4">
                                            <a class="btn btn-sm btn-block twitter-btn" href="javascript:void(0)">
                                                <i class="socicon-twitter"></i>&nbsp;Twitter login
                                            </a>
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-sm-4">
                                            <a class="btn btn-sm btn-block google-btn" href="javascript:void(0)">
                                                <i class="socicon-googleplus"></i>&nbsp;Google+ login
                                            </a>
                                        </div>
                                    </div> -->
                                    {{ form.as_p }}
                                    <div class="form-group input-group">
                                        <input class="form-control" type="email" placeholder="Email" required>
                                        <span class="input-group-addon"><i class="icon-mail"></i></span>
                                    </div>
                                    <div class="form-group input-group">
                                        <input class="form-control" type="password" placeholder="Password" required>
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    </div>
                                    <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="remember_me" checked>
                                            <label class="custom-control-label" for="remember_me">Remember me</label>
                                        </div>
                                        <a class="navi-link" href="ess_forget_password.html">Forgot password?</a>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <button class="btn btn-primary margin-bottom-none" type="submit">Login</button>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <button class="btn btn-primary margin-bottom-none" type="submit">{% trans 'Login' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}