{% extends 'registration/base.html' %}
{% load i18n %}

{% block content %}
<div class="" id="container">
        <div>
            <div class="pri_main_container" data-test-selector="page-annuals-pricing" data-test-language="en-us">
                <div class="pri_container">
                    <div class="pri_title container" style="text-align: unset">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 registration-box">
                                <h3 class="margin-bottom-1x">{% trans 'No Account? Register' %}</h3>
                                <p>{% trans 'Registration takes less than a minute but gives you full control over your account.' %}</p>
                                <form class="row" action="{% url 'newuser' %}" method="post">
                                {% csrf_token %}
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-fn">{% trans 'First Name' %}</label>
                                            {{form.first_name}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-ln">{% trans 'Last Name' %}</label>
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-email">{% trans 'E-mail Address' %}</label>
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-phone">{% trans 'Phone Number' %}</label>
                                            {{form.phone_number}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-pass">{% trans 'Password' %}</label>
                                            {{form.password}}
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-pass-confirm">{% trans 'Confirm Password' %}</label>
                                            {{form.password}}
                                        </div>
                                    </div> -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="reg-username">{% trans 'username' %}</label>
                                            {{form.username}}
                                        </div>
                                    </div>
                                   
                                    <div class="col-12 text-center text-sm-right">
                                        <button class="btn btn-primary margin-bottom-none" type="submit">{% trans 'Register' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}