{% extends 'base/base.html' %}
{% load static %}
{% load avatar_tags %}
{% block thickness %}
<section class="container padding-top-1x padding-bottom-2x"> </section>

{% endblock %}
{% block content %}
<div class="col-md-6 offset-md-3 header text-center">
	<span class="d-block bg-primary text-center" style="background: linear-gradient(to right,#02C9ED,#CADA5D)"> Your Profile </span>


	<form method="post" class="col-md-6 offset-md-3">{% csrf_token %}
		{% avatar user   class="img-circle img-responsive" id="user_avatar" %}
		<a href="{% url 'avatar_change' %}">Change your avatar</a>

		{{ form.as_p }}

 		<!-- <input class="btn btn-sm btn-primary m-r-5" type="submit" value="Save" /> -->
	</form>
</div>
{% endblock %}
