{% extends 'base/base.html' %}

{% load i18n %}

{% block main %}
<div class="col-md-12 margin-bottom-2x">
    <div class="row">
        <div class="col-lg-4 margin-bottom-2x">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title align-items-center d-flex justify-content-center">{% trans 'Bikes' %}</h4>
                    <p class="card-text align-items-center d-flex justify-content-center">
                        {% blocktrans %} Register new Bikes, update information about your bikes and delete bikes from the system. {% endblocktrans %}
                    </p>
                    <a class="btn btn-block btn-primary" href="{% url 'bikes:list' %}">{% trans 'Bikes' %}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 margin-bottom-2x">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title align-items-center d-flex justify-content-center">{% trans 'Prizes' %}</h4>
                    <p class="card-text align-items-center d-flex justify-content-center">
                        {% blocktrans %} View all the prizes you can available in your city.{% endblocktrans %}
                    </p>
                    <a class="btn btn-block btn-secondary" disabled href="javascript:void(0)">{% trans 'Coming soon' %}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 margin-bottom-2x">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title align-items-center d-flex justify-content-center">{% trans 'Tags' %}</h4>
                    <p class="card-text align-items-center d-flex justify-content-center">
                        {% blocktrans %}Want protection? Add rfid support to your bikes here{% endblocktrans %}
                    </p>
                    <a class="btn btn-block btn-secondary" disabled href="javascript:void(0)">{% trans 'Coming soon' %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 margin-bottom-4x">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title align-items-center d-flex justify-content-center">{% trans 'Badges' %}</h4>
                    <p class="card-text align-items-center d-flex justify-content-center">
                        {% blocktrans %}View all your Badges, the ones you've unlocked and ones you need to get.{% endblocktrans %}
                    </p>
                    <a class="btn btn-block btn-secondary" disabled href="javascript:void(0)">{% trans 'Coming soon' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}
{% block js %}


{% endblock %}