{% extends 'profiles/base.html' %}

{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{% trans "Your profile" %}{% endblock %}

{% block main %}
    <div class="col-lg-4">
        <div class="user-info">
            <div class="user-avatar">
                <a class="edit-avatar" href="{% url 'avatar_change' %}"><i class="fa fa-pencil-square-o"></i></a>
                {% avatar user 150 class="rounded-circle" %}
            </div>
            <div class="user-data">
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                <span>
                    <i class="fa fa-user-o"></i> {{ user.username }}<br>
                    <i class="fa fa-envelope-o"></i> {{ user.email }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <form method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </form>
        {% if enduserprofile.mobility_habits_surveys %}
            <h4 class="mt-5">{% trans "Mobility surveys" %}</h4>
            <div class="list-group">
                {% for survey in enduserprofile.mobility_habits_surveys.all %}
                    <a
                            class="list-group-item list-group-item-action"
                            name="showMobilitySurvey"
                            href="#smbDisplayModal"
                            data-contents-url="{% url 'profile:survey' pk=survey.pk %}"
                            data-toggle="modal"
                            data-title="{% trans 'Mobility survey' %}"
                    >{{ survey.date_answered }}</a>
                {% endfor %}
            </div>
            <a class="btn btn-secondary btn-sm" href="{% url 'profile:create-survey' %}">{% trans "Answer mobility survey again" %}</a>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'base/js/smb-utils.js' %}"></script>
    <script src="{% static 'profiles/js/profile-update.js' %}"></script>
{% endblock %}
