{% extends 'profiles/base.html' %}

{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{% trans "Your profile" %}{% endblock %}

{% block main %}
    <div class="col-lg-4">
        <div class="user-info">
            <div class="user-avatar">
                <a class="edit-avatar" href="{% url 'avatar_change' %}"><i class="fa fa-pencil-square-o"></i></a>
                {% avatar user 150 class="rounded-circle" %}
            </div>
            <div class="user-data">
                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                <span>
                    <i class="fa fa-user-o"></i> {{ user.username }}<br>
                    <i class="fa fa-envelope-o"></i> {{ user.email }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary btn-lg">{% trans "Save" %}</button>
        </form>
        {% if enduserprofile.mobility_habits_surveys %}
            <h4>{% trans "Mobility surveys" %}</h4>
            <ul>
                {% for survey in enduserprofile.mobility_habits_surveys.all %}
                    <li><a href="{% url 'profile:survey' pk=survey.pk %}">{{ survey.date_answered }}</a></li>
                {% endfor %}
            </ul>
            <a class="btn btn-outline-secondary btn-sm" href="{% url 'profile:create-survey' %}">{% trans "Answer mobility survey again" %}</a>
        {% endif %}
    </div>
{% endblock %}
