{% load i18n %}

<ul class="list-group">
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h6>{% trans 'Bicycle usage' %}</h6>
            <span>{% blocktrans with bicycle_usage=survey.get_bicycle_usage_display %}{{ bicycle_usage }}{% endblocktrans %}</span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h6>{% trans 'Public transport usage' %}</h6>
            <span>{% blocktrans with public_transport_usage=survey.get_public_transport_usage_display %}{{ public_transport_usage }}{% endblocktrans %}</span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h6>{% trans 'Uses bike sharing services' %}</h6>
            <span><i class="fa {% if survey.uses_bike_sharing_services %}fa-check-square{% else %}fa-square-o{% endif %}"></i></span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h6>{% trans 'Uses electric car sharing services' %}</h6>
            <span><i class="fa {% if survey.uses_electrical_car_sharing_services %}fa-check-square{% else %}fa-square-o{% endif %}"></i></span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h6>{% trans 'Uses fuel car sharing services' %}</h6>
            <span><i class="fa {% if survey.uses_fuel_car_sharing_services %}fa-check-square{% else %}fa-square-o{% endif %}"></i></span>
        </div>
    </li>
</ul>
