{% extends 'profiles/base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb survey.pk 'profile:survey' pk=survey.pk %}
{% endblock %}

{% block page_title %}{% trans "Mobility survey" %}{% endblock %}

{% block main %}
    <div class="col-lg-9 col-md-8 order-md-1">
        {% include 'profiles/mobilityhabitssurvey_detail_inner.html' %}
    </div>
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
        <nav class="list-group">
            <a href="{% url 'profile:create-survey' %}" class="list-group-item list-group-item-action"><i class="fa fa-plus-circle"></i> {% trans "Answer new survey" %}</a>
        </nav>
    </div>
{% endblock %}
