{% extends 'profiles/base.html' %}

{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block page_title %}{% trans "Complete profile - Privileged user" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("complete profile privileged user") 'profile:create' %}
{% endblock %}

{% block content %}
    <div id="container">
        <div class="container p-t-60">
            <div class="row">
                <div class="col-lg-2">
                    <div class="user-info">
                        <div class="user-avatar">
                            <a class="edit-avatar" href="{% url 'avatar_change' %}"><i class="fa fa-pencil-square-o"></i></a>
                            {% avatar user class="rounded-circle" %}
                        </div>
                        <div class="user-data">
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                            <span>
                                <i class="fa fa-user-o"></i> {{ user.username }}<br>
                                <i class="fa fa-envelope-o"></i> {{ user.email }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="card text-white bg-info text-center mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{% trans "Note" %}</h4>
                            <p class="card-text">
                                {% blocktrans %}
                                    Registering as a privileged user requires manual authorization from one of the platform's administrators.
                                    Your application will be moderated and you will be notified via e-mail. Until then you will not
                                    be able to use the portal
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a href="{% url 'profile:create' %}" class="btn btn-outline-secondary btn-lg"><i class="fa fa-hand-o-left"></i> {% trans "Go back" %}</a>
                        <button type="submit" class="btn btn-outline-primary btn-lg">{% trans "Register as privileged user" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
